table{
    border-collapse:collapse ;
    border: double grey 2px;
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

tr,td,th{
    border: double grey 2px;
    padding: 10px;
    width: 90px;
}
/*titre 1.5em/ cibler la cellule titre afpa*/
table tr:first-child th:nth-child(2){
    background-color: aqua;
    font-size:1.5em ;
}
/*lettre en capitales*/
td::first-letter, th::first-letter{
    text-transform: uppercase;
}